.search-container{
    background: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 8px 6px -10px #b3c6ff; 
    @media (min-width: 680px) {
        margin: 10px 20px 10px 20px;
        flex-direction: row;
    } 
}
.search-tags{
    width:100%;
    display: flex;
    justify-content: center;
}